.footer{
  padding: 35px 0;
  background-color: #1b262f;
  background-image: url("../../images/footer-bg.png");
  background-size: 780px;
  background-repeat: no-repeat;
  background-position: calc(50% - -700px) calc(50% - -230px);
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__box{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 410px;
}

.footer__box-list{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  // margin-left: 40px;
}

.footer__box-item{
  width: 57px;
}

.footer__box-link{
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fbfcfe;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.footer__box-link:hover{
  opacity: 1;
}

.footer__box-link:active{
  opacity: 0.4;
}

.footer__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link-logo{
  display: block;
  align-items: center;
  width: 24px;
  height: 24px; 
}

.footer__link-logo:hover path{
  fill: #da6d97; 
}




@media only screen and (max-width: 1100px) {
  .footer{
    background-position: right -280px bottom -500px;
  }
}



@media only screen and (max-width: 640px) {
  .footer{
    padding-top: 43px;
    padding-bottom: 55px;
    background-position: center bottom -584px;
  }

  .footer__inner{
    flex-direction: column;
  }

  .footer__box{
    flex-direction: column;
    width: 310px;
  }

  .footer__link{
    display: inline-block;
    margin-bottom: 43px;
  }

  .footer__box-list{
    display: block;
    margin: 0 auto;
  }

  .footer__box-item{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .footer__item{
    width: 24px;
    height: 24px;
  }
}