.simple{
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #edf3f8;
  background-image: url("../../images/about-bg.png");
  background-size: 750px;
  background-repeat: no-repeat;
  background-position: calc(50% + 684px) calc(50% - 0px);
}

.simple__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple__title{
  margin: 0;
  max-width: 445px;
  margin-bottom: 24px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
}

.simple__text{
  max-width: 445px;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}

.simple__img{
  border-radius: 30px;
}

.simple__phone-img{
  border-radius: 30px;
}







@media only screen and (max-width: 1030px) {
  .simple__inner{
    flex-direction: column-reverse;
  }

  .simple__img-box{
    margin-bottom: 48px;
  }

  .simple__img{
    border-radius: 20px;
    width: 164px;
    height: 319px;
  }
  
  .simple__phone-img{
    border-radius: 20px;
    width: 164px;
    height: 319px;
  }

  .simple__title{
    width: 573px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
  }

  .simple__text{
    width: 573px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 470px) {
  .simple{
    padding: 50px 0;
  }

  .simple__img{
    border-radius: 15px;
    width: 148px;
    height: 289px;
  }
  
  .simple__phone-img{
    border-radius: 15px;
    width: 148px;
    height: 289px;
  }

  .simple__title{
    width: 280px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
  }

  .simple__text{
    width: 270px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 339px) {
  .simple__img-box{
    margin: 0 auto;
  }

  .simple__img{
    display: block;
    width: 148px;
    margin: 0 auto;
  }

  .simple__phone-img{
   display: block;
    width: 148px;
    margin: 0 auto;
  }
}